input {
  margin: 5px;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 60px;
  justify-content: center;
}

.trybewarts-header-logo {
  padding: 5px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

#trybewarts-header-title {
  align-self: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

.input-container {
  display: flex;
}

body {
  background-image: url('img.png');
  color: darkseagreen;
  font-family: sans-serif;
  font-weight: 700;
}

#textarea {
  background-color: rgba(0, 0, 0, 0.5);
  resize: none;
  color: white;
  font-size: large;
}

#input-name , #input-email , #input-lastname , #house {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

