input {
  margin: 5px;
}

main {
  display: flex;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 60px;
}

.trybewarts-header-logo {
  padding: 5px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

#trybewarts-header-title {
  align-self: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

.input-container {
  display: flex;
}

body {
  background-image: url('img.jpg');
  color: darkseagreen;
  font-family: sans-serif;
  font-weight: 700;
}
