input {
  margin: 5px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 60px;
}

.trybewarts-header-logo {
  padding: 5px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

#trybewarts-header-title {
  align-self: center;
}
#evaluation-form{
  display: flex;
  width:675px;
  flex-direction: column;
}
main{
  display: flex;
}

#trybewarts-forms-logo{
  width:500px;
  height:500px;
}